In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
data=pd.read_csv('traffic_stops.csv')

In [5]:
data.head()

,stop_date,stop_time,country_name,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,stop_duration,drugs_related_stop,vehicle_number,timestamp
0,2020-01-01,0:00:00,Canada,M,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,16-30 Min,True,UP76DY3473,2020-01-01 00:00:00
1,2020-01-01,0:01:00,India,M,58,Other,Other,Other,False,Vehicle Search,Arrest,16-30 Min,True,RJ83PZ4441,2020-01-01 00:01:00
2,2020-01-01,0:02:00,USA,M,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,16-30 Min,True,RJ32OM7264,2020-01-01 00:02:00
3,2020-01-01,0:03:00,Canada,M,76,Black,Speeding,DUI,True,Frisk,Warning,0-15 Min,True,RJ76TI3807,2020-01-01 00:03:00
4,2020-01-01,0:04:00,Canada,M,75,Other,Speeding,Other,False,Vehicle Search,Arrest,16-30 Min,False,WB63BB8305,2020-01-01 00:04:00

In [6]:
data.isnull().sum()

stop_date             0
stop_time             0
country_name          0
driver_gender         0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
stop_duration         0
drugs_related_stop    0
vehicle_number        0
timestamp             0
dtype: int64

In [7]:
data[['search_conducted','search_type']]

       search_conducted     search_type
0                  True  Vehicle Search
1                 False  Vehicle Search
2                 False           Frisk
3                  True           Frisk
4                 False  Vehicle Search
...                 ...             ...
65533             False  Vehicle Search
65534              True  Vehicle Search
65535              True           Frisk
65536             False       No Search
65537              True           Frisk

[65538 rows x 2 columns]

In [8]:
# Filling "No Search" where search_conducted is False
data.loc[data['search_conducted'] == False, 'search_type'] = (
    data.loc[data['search_conducted'] == False, 'search_type'].fillna('No Search')
)

# Find the most common type where search_conducted is True
most_common = data.loc[data['search_conducted'] == True, 'search_type'].mode()[0]

# Fill NaN with that most common value for True rows
data.loc[data['search_conducted'] == True, 'search_type'] = (
    data.loc[data['search_conducted'] == True, 'search_type'].fillna(most_common)
)

In [9]:
data.isnull().sum()

stop_date             0
stop_time             0
country_name          0
driver_gender         0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
stop_duration         0
drugs_related_stop    0
vehicle_number        0
timestamp             0
dtype: int64

In [10]:
# Removing unwanted column

data.drop('driver_age_raw', inplace=True , axis=1)
data.drop('is_arrested', inplace=True , axis=1)

KeyError: "['driver_age_raw'] not found in axis"

In [11]:
data.columns

Index(['stop_date', 'stop_time', 'country_name', 'driver_gender', 'driver_age',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type', 'stop_outcome', 'stop_duration', 'drugs_related_stop',
       'vehicle_number', 'timestamp'],
      dtype='object')

In [12]:
# Handle datatypes

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age          65538 non-null  int64
 5   driver_race         65538 non-null  object
 6   violation_raw       65538 non-null  object
 7   violation           65538 non-null  object
 8   search_conducted    65538 non-null  bool
 9   search_type         65538 non-null  object
 10  stop_outcome        65538 non-null  object
 11  stop_duration       65538 non-null  object
 12  drugs_related_stop  65538 non-null  bool
 13  vehicle_number      65538 non-null  object
 14  timestamp           65538 non-null  object
dtypes: bool(2), int64(1), object(12)
memory usage: 6.6+ MB

In [13]:
data1=data.copy()

In [14]:
data1.head()

,stop_date,stop_time,country_name,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,stop_duration,drugs_related_stop,vehicle_number,timestamp
0,2020-01-01,0:00:00,Canada,M,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,16-30 Min,True,UP76DY3473,2020-01-01 00:00:00
1,2020-01-01,0:01:00,India,M,58,Other,Other,Other,False,Vehicle Search,Arrest,16-30 Min,True,RJ83PZ4441,2020-01-01 00:01:00
2,2020-01-01,0:02:00,USA,M,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,16-30 Min,True,RJ32OM7264,2020-01-01 00:02:00
3,2020-01-01,0:03:00,Canada,M,76,Black,Speeding,DUI,True,Frisk,Warning,0-15 Min,True,RJ76TI3807,2020-01-01 00:03:00
4,2020-01-01,0:04:00,Canada,M,75,Other,Speeding,Other,False,Vehicle Search,Arrest,16-30 Min,False,WB63BB8305,2020-01-01 00:04:00

In [15]:
data['timestamp'] = pd.to_datetime(data['stop_date'] + ' ' + data['stop_time'])

In [16]:
data

,stop_date,stop_time,country_name,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,stop_duration,drugs_related_stop,vehicle_number,timestamp
0,2020-01-01,0:00:00,Canada,M,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,16-30 Min,True,UP76DY3473,2020-01-01 00:00:00
1,2020-01-01,0:01:00,India,M,58,Other,Other,Other,False,Vehicle Search,Arrest,16-30 Min,True,RJ83PZ4441,2020-01-01 00:01:00
2,2020-01-01,0:02:00,USA,M,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,16-30 Min,True,RJ32OM7264,2020-01-01 00:02:00
3,2020-01-01,0:03:00,Canada,M,76,Black,Speeding,DUI,True,Frisk,Warning,0-15 Min,True,RJ76TI3807,2020-01-01 00:03:00
4,2020-01-01,0:04:00,Canada,M,75,Other,Speeding,Other,False,Vehicle Search,Arrest,16-30 Min,False,WB63BB8305,2020-01-01 00:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,48,Black,Other,Other,False,Vehicle Search,Arrest,16-30 Min,False,DL56GW6568,2020-02-15 12:13:00
65534,2020-02-15,12:14:00,Canada,F,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,16-30 Min,True,TN73EO7098,2020-02-15 12:14:00
65535,2020-02-15,12:15:00,USA,M,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,30+ Min,True,GJ33MX8328,2020-02-15 12:15:00
65536,2020-02-15,12:16:00,Canada,F,63,Black,Seatbelt,Other,False,No Search,Warning,0-15 Min,True,KA24UZ8488,2020-02-15 12:16:00
65537,2020-02-15,12:17:00,USA,F,32,Other,Seatbelt,Speeding,True,Frisk,Ticket,16-30 Min,False,UP89PT2924,2020-02-15 12:17:00

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age          65538 non-null  int64
 5   driver_race         65538 non-null  object
 6   violation_raw       65538 non-null  object
 7   violation           65538 non-null  object
 8   search_conducted    65538 non-null  bool
 9   search_type         65538 non-null  object
 10  stop_outcome        65538 non-null  object
 11  stop_duration       65538 non-null  object
 12  drugs_related_stop  65538 non-null  bool
 13  vehicle_number      65538 non-null  object
 14  timestamp           65538 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](1), int64(1), object(11)
memory usage: 6.6+ MB

In [18]:
import mysql.connector as db
! pip install pandas sqlalchemy

Requirement already satisfied: pandas in d:\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in d:\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: numpy>=1.26.0 in d:\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet!=0.4.17 in d:\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: six>=1.5 in d:\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

## Creating database connection

In [19]:
import mysql.connector as db
from sqlalchemy import  create_engine

In [20]:
# sqlalchemy
engine = create_engine("mysql+mysqldb://root:admin@3306/project")

In [21]:
# mysql.connector
connection=db.connect(
    host='localhost',
    user='root',
    password='admin',
    database='project'
)

In [22]:
curr=connection.cursor()

In [23]:
db_col=data.columns

In [24]:
col = ' '.join(db_col) 
print(col)

stop_date stop_time country_name driver_gender driver_age driver_race violation_raw violation search_conducted search_type stop_outcome stop_duration drugs_related_stop vehicle_number timestamp

In [25]:
curr.execute("""
CREATE TABLE traffic_Stop_log (
    id INT AUTO_INCREMENT PRIMARY KEY,
    stop_date DATE,
    stop_time TIME,
    country_name VARCHAR(10),
    driver_gender VARCHAR(10),
    driver_age INT,
    driver_race VARCHAR(20),
    violation_raw VARCHAR(30),
    violation VARCHAR(30),
    search_conducted BOOLEAN,
    search_type VARCHAR(30),
    stop_outcome VARCHAR(30),
    stop_duration VARCHAR(50),
    drugs_related_stop BOOLEAN,
    vehicle_number VARCHAR(50),
    timestamp DATETIME
)
""")

In [30]:
ins = """
INSERT INTO traffic_Stop_log (
    stop_date, stop_time, country_name, driver_gender, driver_age,
    driver_race, violation_raw, violation, search_conducted, search_type,
    stop_outcome, stop_duration, drugs_related_stop,
    vehicle_number, timestamp
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
val = [tuple(row) for row in data.to_numpy()]

curr.executemany(ins, val)

In [123]:
print("Traffic_stop_log Table created and data updates")

Traffic_stop_log Table created and data updates

In [120]:
#data.to_sql('traffic_Stop_log', con=engine, if_exists='append', index=False)

In [ ]:
curr.execute("""
    ALTER TABLE traffic_stop_log
    ADD COLUMN age_group VARCHAR(20);
    """)

In [32]:
curr.execute("""UPDATE traffic_stop_log
    SET age_group = CASE
        WHEN driver_age >= 18 AND driver_age < 30 THEN '18-30'
        WHEN driver_age >= 30 AND driver_age < 40 THEN '30-40'
        WHEN driver_age >= 40 AND driver_age < 50 THEN '40-50'
        WHEN driver_age >= 50 THEN 'Above 50'
        ELSE 'Unknown'
    END;
    """)
connection.commit()